@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,900italic,900,700,700italic,500italic,500,400italic);
body {
    font-family: 'Roboto', sans-serif;
}
/* CSS Document */

.header {
    background: #212A3F;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0px;
}
iframe {
    max-width: 100%;
}
.past-papers {
    background: #d3d4d9;
}
.scholarships {
    background: #42484d;
    color:#efefef;
}
.logo {
    color: #fa3447;
    font-weight: 100;
    font-size: 30px;
    padding: 0px !important;
    line-height: 60px;
}
img {
    max-width: 100%;
}
.margin-tb {
    margin-top:10px;
    margin-bottom:10px;
}
.main {
	margin-top: 0px;
}
.bg {
	background: url("/static/images/bg1.jpg");
	    background-size: cover;
    background-repeat: no-repeat;
}
.tab-content>.active {
    background: rgba(214, 214, 214, 0.59)!important;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
.logo:hover,
logo:active {
    color: #fff;
}

.menu {
    margin: 0px !important;
    border: none;
}

.menu li a {
    color: #434F5B;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 29px;
    background-color: #212A3F;
    z-index: 999;
}

.menu li a:hover {
    background-color: #212A3F;
    color: #fff;
}

.menu-button {
    color: #fff;
    font-size: 30px;
    margin: 0px !important;
    padding: 14px;
}
.article-cat {
    background: #40b3b3;
    padding:0.8rem;
}
.backg {
    background-attachment: fixed;
    background-color: #645862;
    background-image: url("/static/images/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    padding: 180px 0 120px;
    text-align: center;
    width: 100%;
    float: left;
}

@-moz-keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -o-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(33, 42, 63, 0.5);
    color: white;
    display: inline-block;
    opacity: 0;
    padding: 20px 40px;
    text-align: center;
}

.text-box {
    font-family: 'Poppins', sans-serif;
}

.text-box p.intro {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

.text-box h2 {
    font-size: 55px;
    font-weight: 700;
    color: #fff;
    border-bottom: 7px double #fa3447;
    border-top: 7px double #fa3447;
    text-transform: uppercase;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.text-box h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

.text-box p {
    font-size: 10px font-weight: 400;
}

.text-box p span {
    font-size: 15px;
    font-weight: 400;
    color: #83D3C9;
}

.text-box p span a {
    text-decoration: none;
    color: #8AB839;
    font-size: 15px;
}

.text-box p a.link-button {
    text-decoration: none;
    color: #fff;
    border: #fff solid 1px;
    padding: 15px 22px;
    margin-top: 20px;
    line-height: 4;
    font-size: 18px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.text-box p a.link-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.some-notes {
    padding: 40px 0px;
    float: left;
}

.related-posts {
    background-color: #efefef;
    padding:15px 10px;
}
.related-post {
    /*border-bottom:1px dotted #cdcdcd;*/
    margin-bottom:10px;
}
.title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: #8AB839;
    text-transform: uppercase;
}

.desc p {
    width: 75%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #2E2E2E;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.desc p a {
    text-decoration: none;
    color: #8ab839;
}

.features {
    background: #8ab839;
    padding: 60px 0px;
}

.features-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2.features-text::after {
    display: block;
    margin: 17px auto 0px;
    width: 80px;
    height: 1px;
    background: #FFF none repeat scroll 0% 0%;
    content: "";
}

.iconing {
    text-align: center;
    width: 80px;
    margin: 0 auto;
}

.iconing i {
    font-size: 35px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.icon-box {
    margin: 30px 0px;
}

.icon-text-box {}

.icon-text-box h4 {
    font-family: 'Roboto', sans-serif;
    color: #2e2e2e;
    font-weight: 400;
    font-size: 25px;
}

.icon-text-box p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #2E2E2E;
}

.notes {
    background-attachment: fixed;
    background-color: #645862;
    background-image: url("/static/images/notes-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    text-align: center;
    width: 100%;
    float: left;
}

.notes-bg {
    background: rgba(33, 42, 63, 0.9);
    padding: 80px 0px;
}

.notes-bg p {
    font-size: 17px;
    margin: 0px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.btneff {
    background-color: #8ab839;
    border: none;
    color: #fff;
    padding: 13px 0px;
    width: 100% !important;
    font-size: 17px;
}

.work-list {

}
 .widget {
    padding:0px;
    background: #efefef;

 }
 .widget .widget-header {
    background: #8ab839;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}
 .widget .widget-content {
    padding:1rem;
}
.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2.portfolio-text::after {
    display: block;
    margin: 17px auto 0px;
    width: 80px;
    height: 1px;
    background: #8ab839 none repeat scroll 0% 0%;
    content: "";
}

.work-list a .featured-img {
    width: 100%;
}

.work-list a .featured-img img {
    width: 100%;
    height: 200px;
    float: left;
    position: relative;
}
.text-center .img-responsive {
    margin: auto;
}
.program_vars {}

@keyframes imagehover {
    0% {
        height: 40px;
    }
    25% {
        height: 80px;
    }
    50% {
        height: 120px;
    }
    75% {
        height: 160px;
    }
    100% {
        height: 200px;
    }
}

.image-hover {
    display: none;
    position: absolute;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 100%;
    height: 200px;
    float: left;
}

.image-hover i {
    color: rgba(138, 184, 57, 0);
    font-size: 30px;
    line-height: 200px;
    transition: 5s color ease-in;
    display: none;
}

.image-hover:hover i {
    display: block;
    color: #212A3F;
}

.work-list a h3 {
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: 600;
    background: #8ab839;
    color: #fff;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.work-list a:hover .image-hover {
    display: block;
    animation: 0.4s ease-in 0s normal none 1 running imagehover;
}

.work-space {
    margin: 20px 0px;
}

.active {
    color: #fff !important;
}
.nav-justified {
    background: #bf261b;
}
.nav-justified li a {
    color:white;
    font-weight: bold;
}
.nav-justified li a:hover {
    color:black;
}
.nav-justified>.dropdown .dropdown-menu {
    background: #402c2b;
}
.nav-justified.nav .open>a, .nav-justified.nav .open>a:focus, .nav-justified.nav .open>a:hover {
    background-color: #402c2b;
}
.nav li a:focus {
    background: #212A3F;
    color: #fff;
}

.nav li a:active {
    color: #fff;
}

.countbg {
    background: rgba(33, 42, 63, 1);
    padding: 80px 0px;
    width: 100%;
    float: left;
}

.countspace {
    color: white;
    text-align: center;
    width: 100%;
    float: left;
    background: rgba(33, 42, 63, 1);
}

.counter-item {
    margin-top: 30px;
}

.counter-item i {
    font-size: 40px;
    color: #8ab839;
}

.timer {
    margin-top: 5px;
    font-weight: 700;
    font-size: 50px;
    color: #8ab839;
}

.counter-item h5 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.contact {
    padding: 60px 0px;
    float: left;
    width: 100%;
}
.content {
    font-size: 1.8rem;
    line-height: 3.9rem;
}
.contact-form,
.address-space {
    margin-top: 20px;
}

.form-effect {
    padding: 12px 12px;
    color: #555;
    background-color: rgba(33, 42, 63, 0.2);
    color: #212A3F;
    height: auto !important;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.form-effect:focus {
    border-color: rgba(33, 42, 63, 0.2);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(33, 42, 63, 0.1);
}

.btn-sub {
    color: #fff;
    background-color: #8AB839;
    border-color: #fff;
    font-size: 18px;
    padding: 10px 30px;
}

#map-canvas {
    height: 150px;
}

input[placeholder],
[placeholder],
*[placeholder] {
    color: #212A3F !important;
}

.address p i {
    padding-right: 10px;
    font-size: 15px;
    color: #8AB839;
}

.footer {
    margin: 20px 0px 10px;
    float: left;
    text-align: center;
    width: 100%;
}

.footer p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.footer p a {
    color: #8AB839;
    font-family: 'Poppins', sans-serif;
}

.program_list_item {
    padding: 8px;
    margin: 5px;
    background: #dadada;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}


/**MEDIAQUERIES**/
@media (min-width: 380px) and (max-width: 768px) {
    .text-box p.intro {
        font-size: 22px;
    }
    .text-box h2 {
        font-size: 40px;
    }
    .text-box h3 {
        font-size: 16px;
    }
    .text-box p a.link-button {
        padding: 8px 14px;
        font-size: 13px;
    }
    .title h2 {
        font-size: 29px;
    }
    .desc p {
        font-size: 15px;
        text-align: justify;
    }
    .icon-text-box h4 {
        text-align: center;
    }
    .icon-text-box p {
        text-align: center;
    }
    .btneff {
        margin-top: 15px;
        width: 20% !important;
    }
}

@media (min-width: 0px) and (max-width: 379px) {
    .text-box p.intro {
        font-size: 22px;
    }
    .text-box h2 {
        font-size: 20px;
    }
    .text-box h3 {
        font-size: 16px;
    }
    .text-box p a.link-button {
        padding: 8px 14px;
        font-size: 13px;
    }
    .title h2 {
        font-size: 29px;
    }
    .desc p {
        font-size: 15px;
        text-align: justify;
    }
    .icon-text-box h4 {
        text-align: center;
    }
    .icon-text-box p {
        text-align: center;
    }
    .btneff {
        margin-top: 15px;
        width: 80% !important;
    }
}

/**EXTRAS**/
.publicaciones-blog-home {
    padding-bottom: 50px;
    background: url("") no-repeat fixed center center;
    background-size: 100% auto;
    background-color: #f1f1f1;
}
.publicaciones-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
}
.publicaciones-blog-home h2 b {
    color: #2BBCDE;
}
.publicaciones-blog-home .fondo-publicacion-home {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.publicaciones-blog-home .fondo-publicacion-home:hover h3 {
    color: #2BBCDE;
/*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}
.publicaciones-blog-home .fondo-publicacion-home:hover .mascara-enlace-blog-home {
    height: 400px;
    width: 100%;
    color: #aaa;
    background-color: #2BBCDE;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;   
}
.publicaciones-blog-home .black {
    background: #2BBCDE;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
    height: 100%;
    width: auto;
}
.img-publicacion-home img {
    width:100%;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home {
    padding: 0 10px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home h3 {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-home  {
    overflow: hidden;
    max-height: 180px;
}
.mascara-enlace-blog-home {
    height: 400px;
    width: 0%;
    color: #aaa;
    background-color: #2BBCDE;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}
.mascara-enlace-blog-home span {
    text-align: center;
    max-height: 400px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}
.publicaciones-blog-home .todas-las-publicaciones-home {
    background: #2BBCDE;
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}
.publicaciones-blog-home .todas-las-publicaciones-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 26px;
}
@media (max-width: 768px) {
    .publicaciones-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 34px;
    margin-top: 70px;
    }
    .publicaciones-blog-home .fondo-publicacion-home {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: inherit;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: auto;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
    height: auto;
    width: 100%;
    }
    .publicaciones-blog-home .black {
    background: #fff;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 10px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    }
    .publicaciones-blog-home .todas-las-publicaciones-home {
    background: #2BBCDE;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
    }
}

