{% extends "base.html" %}



{% block content_class %}bg{% endblock %}

{% block content %}
<style>
.article {
	padding:1rem 2rem;
}
.featured-img img {
	width:100%;
}
</style>
<div class="topmargin container">
	<div class="row">
		<div class="col-md-8 well well-lg">
				<img style="width:100%;" src="{{post.featured_image}}"><br>
				<h1>{{post.title}}</h1>
				<div class="content">
					{{post.content|safe|nl2br}}
				</div>
		</div>
		<div class="col-md-4 well">
			<div class="row article">
				<a href="/article/1">
            		<div class="featured-img">
            			<img src="/static/images/shahbaz-sharif.jpg"/>
            		</div>
            		<div class="image-hover">
            			<i class="glyphicon glyphicon-eye-open"></i>
					 </div>
            		<h3>CM reviews progress on educational reforms programme</h3>
            	</a>
			</div>
			<div class="row article">
				<a href="/article/2">
            		<div class="featured-img">
            			<img src="/static/images/girls.gif"/>
            		</div>
            		<div class="image-hover">
            			<i class="glyphicon glyphicon-eye-open"></i>
					 </div>
            		<h3>Govt asked to remove controversial lesson from course book</h3>
            	</a>
			</div>
			<div class="row article">
				<a href="/article/3">
            		<div class="featured-img">
            			<img src="/static/images/data.gif"/>
            		</div>
            		<div class="image-hover">
            			<i class="glyphicon glyphicon-eye-open"></i>
					 </div>
            		<h3>A staggering 81pc of all government schools in Pakistan are primary schools</h3>
            	</a>
			</div>
		</div>
	</div>
</div><br><hr><br>
{% endblock %}