		<div class="col-md-12 countbg">
			<div class="col-xs-12 col-sm-4 col-md-4">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-blackboard"></i>
                    <div class="timer" data-from="0" data-to="9854" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Courses</h5>                               
                </div>
            </div>  
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-education"></i>
                    <div class="timer" data-from="0" data-to="178" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Universities</h5>                               
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-user"></i>
                    <div class="timer" data-from="0" data-to="3297" data-speed="35000" data-refresh-interval="50"></div>
                    <h5>Students Served</h5>                                                   
                </div>
            </div>
		</div>