{% extends "base.html" %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row text-center">
			<img src="/static/images/logoline.png">
			{% include 'search.html' %}
		</div>
	</div>
</div>

<div class="work" id="resources">
	<div class="container">
		<div class="row" id="starts">
			<div class="col-md-8 work-list">
				<div class="row">
					<h3 class='article-cat'>News</h3>
					<div class="row">
						{% for post in types.news if types.news%}
							<div class="col-md-6 col-sm-6 col-xs-12 work-space">
								<a href="{{url_for('article', id=post.id)}}">
			                		<div class="featured-img">
			                			{% if post.featured_image %}
			                			<img src="{{url_for('static', filename=post.featured_image)}}"/>
			                			{% endif %}
			                		</div>
			                		<div class="image-hover">
			                			<i class="glyphicon glyphicon-eye-open"></i>
									 </div>
			                		<h3>{{post.title}}</h3>
			                	</a>
							</div>
							{% if (loop.index == 2) %}
							</div><div class="row">
							{% endif %}
						{% endfor %}
					</div>
					<h3 class='article-cat'>Articles</h3>
					<div class="row">
						{% for post in types.articles if types.articles %}
							<div class="col-md-6 col-sm-6 col-xs-12 work-space">
								<a href="{{url_for('article', id=post.id)}}">
			                		<div class="featured-img">
			                			<img src="{{url_for('static', filename=post.featured_image)}}"/>
			                		</div>
			                		<div class="image-hover">
			                			<i class="glyphicon glyphicon-eye-open"></i>
									 </div>
			                		<h3>{{post.title}}</h3>
			                	</a>
							</div>
							{% if (loop.index == 2) %}
							</div><div class="row">
							{% endif %}
						{% endfor %}
					</div>
					<h3 class='article-cat'>Past Papers</h3>
					<div class="row">
						{% for post in types['past-papers'] if types['past-papers'] %}
							<div class="col-md-6 col-sm-6 col-xs-12 work-space">
								<a href="{{url_for('article', id=post.id)}}">
			                		<div class="featured-img">
			                			<img src="{{url_for('static', filename=post.featured_image)}}"/>
			                		</div>
			                		<div class="image-hover">
			                			<i class="glyphicon glyphicon-eye-open"></i>
									 </div>
			                		<h3>{{post.title}}</h3>
			                	</a>
							</div>
							{% if (loop.index == 2) %}
							</div><div class="row">
							{% endif %}
						{% endfor %}
					</div>
					<h3 class='article-cat'>Datesheets</h3>
					<div class="row">
						{% for post in types['date-sheets'] if types['date-sheets'] %}
							<div class="col-md-6 col-sm-6 col-xs-12 work-space">
								<a href="{{url_for('article', id=post.id)}}">
			                		<div class="featured-img">
			                			<img src="{{url_for('static', filename=post.featured_image)}}"/>
			                		</div>
			                		<div class="image-hover">
			                			<i class="glyphicon glyphicon-eye-open"></i>
									 </div>
			                		<h3>{{post.title}}</h3>
			                	</a>
							</div>
							{% if (loop.index == 2) %}
							</div><div class="row">
							{% endif %}
						{% endfor %}
					</div>
					<h3 class='article-cat'>Syllabus</h3>
					<div class="row">
						{% for post in types.syllabus if types.syllabus %}
							<div class="col-md-6 col-sm-6 col-xs-12 work-space">
								<a href="{{url_for('article', id=post.id)}}">
			                		<div class="featured-img">
			                			<img src="{{url_for('static', filename=post.featured_image)}}"/>
			                		</div>
			                		<div class="image-hover">
			                			<i class="glyphicon glyphicon-eye-open"></i>
									 </div>
			                		<h3>{{post.title}}</h3>
			                	</a>
							</div>
							{% if (loop.index == 2) %}
							</div><div class="row">
							{% endif %}
						{% endfor %}
					</div>
					<h3 class='article-cat'>Videos</h3>
					<div class="row">
						{% for video in videos %}
							<div class="col-md-6 col-sm-6 col-xs-12 work-space">
								{{video.embed_code|safe}}
							</div>
							{% if (loop.index == 2) %}
							</div><div class="row">
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<br>
				{% set widgets = widget_maker('homepage') %}
				{% for widget in widgets %}
					<div class="widget">
						<h3 class='widget-header'>{{widget.title}}</h3>
						<div class="widget-content">{{widget.content|safe}}</div>
						<div class="widget-footer"></div>
					</div><br>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}