{% extends "base.html" %}

{% block content %}
<div class="main" id="page-top">
	<div class="row">
		<div class="col-md-12 backg">
			<div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
				<div class="text-box">
                	<p class="intro">Introducing</p>
                    <h2>Karwan e ilm</h2>
                    <h3>A resources for students</h3>
                    <p>By <span><a href="#">Karwan e ilm Foundation</a></span></p>
                    <p><a href="#" class="link-button">About Us</a></p>
				</div>
  			</div>
		</div>
		<div class="col-md-12 some-notes">
			<div class="title">
                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="work" id="resources">
	<div class="container">
		<div class="row" id="starts">
			<div class="col-md-12 col-sm-12 col-xs-12 work-list">
				<h2 class="text-center portfolio-text">Resources</h2>
				<div class="col-md-4 col-sm-6 col-xs-12 work-space">
					<a href="/universities">
                		<div class="featured-img">
                			<img src="/static/images/story1.png"/>
                		</div>
                		<div class="image-hover">
                			<i class="glyphicon glyphicon-eye-open"></i>
						 </div>
                		<h3>Find Universities</h3>
                	</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 work-space">
					<a href="/static/images/story2.png" data-lightbox="image-1">
                		<div class="featured-img">
                			<img src="/static/images/story2.png"/>
                		</div>
                		<div class="image-hover">
                			<i class="glyphicon glyphicon-eye-open"></i>
						 </div>
                		<h3>Find Scholarships</h3>
                	</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 work-space">
					<a href="/static/images/story3.png" data-lightbox="image-1">
                		<div class="featured-img">
                			<img src="/static/images/story3.png"/>
                		</div>
                		<div class="image-hover">
                			<i class="glyphicon glyphicon-eye-open"></i>
						 </div>
                		<h3>Find Colleges</h3>
                	</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 work-space">
					<a href="/static/images/story2.png" data-lightbox="image-1">
                		<div class="featured-img">
                			<img src="/static/images/story2.png"/>
                		</div>
                		<div class="image-hover">
                			<i class="glyphicon glyphicon-eye-open"></i>
						 </div>
                		<h3>Find Courses</h3>
                	</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 work-space">
					<a href="/static/images/story3.png" data-lightbox="image-1">
                		<div class="featured-img">
                			<img src="/static/images/story3.png"/>
                		</div>
                		<div class="image-hover">
                			<i class="glyphicon glyphicon-eye-open"></i>
						 </div>
                		<h3>Download Courses</h3>
                	</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 work-space">
					<a href="/static/images/story1.png" data-lightbox="image-1">
                		<div class="featured-img">
                			<img src="/static/images/story1.png"/>
                		</div>
                		<div class="image-hover">
                			<i class="glyphicon glyphicon-eye-open"></i>
						 </div>
                		<h3>Other Resources</h3>
                	</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center features-text">Features</h2>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-pencil"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Easy to Use</h4>
                    	<p>Karwan e Ilm provides the data for all universities of Pakistan at one place.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-cog"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Biggest Scholarship Database</h4>
                    	<p>Karwan e Ilm provides the biggest scholarship database in Pakistan</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-time"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Save Time</h4>
                    	<p>Save time in your university search by finding the institution that are the best match for you.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-briefcase"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Career Oriented</h4>
                    	<p>Karwan e Ilm has a creer oriented approach for students, so that their education can be put to the best possible use for them.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-user"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Student Centered</h4>
                    	<p>Our years of working with deserving students has made us able to understand exactly what students need.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-heart"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Free of Cost</h4>
                    	<p>Our aim is to serve students. Karwan e Ilm is a completely non profit organization.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="countspace">
	<div class="container">
	<div class="row">
		<div class="col-md-12 countbg">
			<div class="col-xs-12 col-sm-4 col-md-4">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-blackboard"></i>
                    <div class="timer" data-from="0" data-to="9854" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Courses</h5>                               
                </div>
            </div>  
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-education"></i>
                    <div class="timer" data-from="0" data-to="178" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Universities</h5>                               
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-user"></i>
                    <div class="timer" data-from="0" data-to="3297" data-speed="35000" data-refresh-interval="50"></div>
                    <h5>Students Served</h5>                                                   
                </div>
            </div>
		</div>
	</div>
</div>
</div>

<div class="contact" id="section4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center portfolio-text">Contact</h2>
				<div class="col-md-6 col-sm-12 col-xs-12contact-form">
					<form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control form-effect" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">                                 
                            <input type="email" class="form-control form-effect" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea type="textarea" class="form-control form-effect" id="text" placeholder="Message"></textarea>
                        </div>  
                        <button type="submit" class="btn btn-default btn-sub">Submit</button>
                    </form>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 address-space">
					<div id="map-canvas"></div>
					<div class="address">
						<h3>Address</h3>
						<p><i class="glyphicon glyphicon-map-marker"></i>1234 House Name, City Name, Lahore </p>
						<p><i class="glyphicon glyphicon-earphone"></i>(111) 123-4567 | (111) 123-7654 (FAX)</p>
						<p><i class="glyphicon glyphicon-envelope"></i>Info@example.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}