{% extends "base.html" %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			{% include 'search.html' %}
		</div>
	</div>
</div>

<div class="work" id="resources">
	<div class="container">
		<div class="row" id="starts">
			<div class="col-md-8 work-list">
				<div class="row">
					<h2 class="text-center portfolio-text">Latest Articles</h2>
					{% for post in types.news %}
						<h3>News</h3>
						<div class="col-md-6 col-sm-6 col-xs-12 work-space">
							<a href="/article/1">
		                		<div class="featured-img">
		                			<img src="{{url_for('static', filename=post.featured_image)}}"/>
		                		</div>
		                		<div class="image-hover">
		                			<i class="glyphicon glyphicon-eye-open"></i>
								 </div>
		                		<h3>{{post.title}}</h3>
		                	</a>
						</div>

					{% endfor %}
				</div>
			</div>
			<div class="col-md-4">.</div>
		</div>
	</div>
</div>
{% endblock %}