{% extends "base.html" %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			<div class="filter text-center">
				<img src="/static/images/logoline.png">
				<h1>Search University Database</h1><hr>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Province</a></li>
			    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Cities</a></li>
			    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Public/Private</a></li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="profile">
			    	{% for province in provinces %}
						<a class="h4" href="/universities?province={{province}}"> {{province}} </a> |
					{% endfor %}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
				    {% for city in cities %}
						<a class="h4" href="/universities?city={{city}}"> {{city}} </a> |
					{% endfor %}
				</div>
			    <div role="tabpanel" class="tab-pane" id="settings">
					<a class="h4" href="/universities?pub_pri=Public"> Public </a> | <a class="h4" href="/universities?pub_pri= Private"> Private </a>
			    </div>
			  </div>
			</div><hr>
			<div class="col-md-12 hidden">
				<h2 class="text-center features-text">Features</h2>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-pencil"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Easy to Use</h4>
                    	<p>Karwan e Ilm provides the data for all universities of Pakistan at one place.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-cog"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Biggest Scholarship Database</h4>
                    	<p>Karwan e Ilm provides the biggest scholarship database in Pakistan</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-time"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Save Time</h4>
                    	<p>Save time in your university search by finding the institution that are the best match for you.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-briefcase"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Career Oriented</h4>
                    	<p>Karwan e Ilm has a creer oriented approach for students, so that their education can be put to the best possible use for them.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-user"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Student Centered</h4>
                    	<p>Our years of working with deserving students has made us able to understand exactly what students need.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 icon-box">
					<div class="col-md-2 col-sm-2 col-xs-12">
						<div class="iconing">
							<i class="glyphicon glyphicon-heart"></i>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                    	<h4>Free of Cost</h4>
                    	<p>Our aim is to serve students. Karwan e Ilm is a completely non profit organization.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="work" id="resources">
	<div class="container">
		<div class="row" id="starts">
			<div class="col-md-12 col-sm-12 col-xs-12 work-list">
				<div class="row">
					<h2 class="text-center portfolio-text">Latest News</h2>
					<div class="col-md-4 col-sm-6 col-xs-12 work-space">
						<a href="/article/1">
	                		<div class="featured-img">
	                			<img src="/static/images/shahbaz-sharif.jpg"/>
	                		</div>
	                		<div class="image-hover">
	                			<i class="glyphicon glyphicon-eye-open"></i>
							 </div>
	                		<h3>CM reviews progress on educational reforms programme</h3>
	                	</a>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 work-space">
						<a href="/article/2">
	                		<div class="featured-img">
	                			<img src="/static/images/girls.gif"/>
	                		</div>
	                		<div class="image-hover">
	                			<i class="glyphicon glyphicon-eye-open"></i>
							 </div>
	                		<h3>Govt asked to remove controversial lesson from course book</h3>
	                	</a>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 work-space">
						<a href="/article/3">
	                		<div class="featured-img">
	                			<img src="/static/images/data.gif"/>
	                		</div>
	                		<div class="image-hover">
	                			<i class="glyphicon glyphicon-eye-open"></i>
							 </div>
	                		<h3>A staggering 81pc of all government schools in Pakistan are primary schools</h3>
	                	</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 work-space">
						<a href="/article/4">
	                		<div class="featured-img">
	                			<img src="/static/images/nust.gif"/>
	                		</div>
	                		<div class="image-hover">
	                			<i class="glyphicon glyphicon-eye-open"></i>
							 </div>
	                		<h3>NUST stands among world’s top 150 young universities</h3>
	                	</a>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 work-space">
						<a href="/article/5">
	                		<div class="featured-img">
	                			<img src="/static/images/tablet.gif"/>
	                		</div>
	                		<div class="image-hover">
	                			<i class="glyphicon glyphicon-eye-open"></i>
							 </div>
	                		<h3>Punjab Schools Education Department will award tablets to students of class 5 and class 8</h3>
	                	</a>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 work-space">
						<a href="/article/6">
	                		<div class="featured-img">
	                			<img src="/static/images/aiou.gif"/>
	                		</div>
	                		<div class="image-hover">
	                			<i class="glyphicon glyphicon-eye-open"></i>
							 </div>
	                		<h3>Nigerian academicians visits Open University, sign MoU for partnership</h3>
	                	</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="countspace">
	<div class="container"><br>
		<div class="row">
			<h1>Latest Courses</h1><hr>
			<div class="row">
				<div class="col-md-6">
	                <iframe width="640" height="360" src="https://www.youtube.com/embed/z-OxzIC6pic" frameborder="0" allowfullscreen></iframe>
	                <h2>Introduction to Computer Science</h2>
	            </div>  
	            <div class="col-md-6">
	                <iframe width="640" height="360" src="https://www.youtube.com/embed/ndWqKOJ9DgQ" frameborder="0" allowfullscreen></iframe>
	                <h2>Introduction to Linear Algebra</h2>
	            </div>
			</div><hr>
			<div class="row">
				<div class="col-md-6">
	                <iframe width="640" height="360" src="https://www.youtube.com/embed/4FduU3EokBY" frameborder="0" allowfullscreen></iframe>
	                <h2>Introduction to Sociology</h2>
	            </div>  
	            <div class="col-md-6">
	                <iframe width="640" height="360" src="https://www.youtube.com/embed/P3FKHH2RzjI?list=PLB5FA5E41465EE995" frameborder="0" allowfullscreen></iframe>
	                <h2>Introduction to Psychology</h2>
	            </div>
			</div><br>
			<button class="btn btn-block btn-primary">More</button>
		</div>
	</div>
</div>

<div class="container">
	<hr>&nbsp;
</div>

<div class="container-fluid">
	<div class="row past-papers">
		<div class="col-md-6 text-center">
			<h3>Past papers</h3>
			<a href=""><h4>Intermediate Past Papers Federal Board</h4></a>
			<a href=""><h4>Intermediate Past Papers Punjab Board</h4></a>
			<a href=""><h4>Intermediate Past Papers Sindh Board</h4></a>
			<a href=""><h4>Intermediate Past Papers KPK Board</h4></a>
			<a href=""><h4>Intermediate Past Papers Balochistan Board</h4></a>
			<a href=""><h4>University Past Papers</h4></a>
			<a href=""><h4>CSS Past Papers</h4></a>
		</div>
		<div class="col-md-6 text-center">
			<h3>Date Sheets</h3>
			<a href=""><h4>Intermediate Date Sheet Federal Board</h4></a>
			<a href=""><h4>Intermediate Date Sheet Punjab Board</h4></a>
			<a href=""><h4>Intermediate Date Sheet Sindh Board</h4></a>
			<a href=""><h4>Intermediate Date Sheet KPK Board</h4></a>
			<a href=""><h4>Intermediate Date Sheet Balochistan Board</h4></a>
			<a href=""><h4>University Date Sheet</h4></a>
			<a href=""><h4>CSS Date Sheet</h4></a>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row scholarships text-center">
		<a href="/universities">
			<img style="width:100%;" src="/static/images/scholarships.jpg">
		</a>
		<h2>Scholarships available for deserving candidates, Apply Now!</h2>
	</div>
	<br>
</div>

<div class="container-fluid">
	<div class="row">
		<h1 class="text-center">Success Stories</h1>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-2">
				<img class="img-circle" src="/static/images/story1.jpg">
				</div>
				<div class="col-md-10"><em>Hasan Askari is an employee of a multi national telecom company. He is from a small remote village near Hunza, by using technology and online resources, he has succefully completed graduation with flying colors and secured a high-paying job.</em></div>
			</div><br>
			<div class="row">
				<div class="col-md-2">
				<img class="img-circle" src="/static/images/story2.jpg">
				</div>
				<div class="col-md-10"><em>Ikram Haq is now a government employee of grade 17. He started from humble beginnings in a small village of Punjab but through sheer hard work and dedication he has reached this place</em></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-2">
				<img class="img-circle" src="/static/images/story3.jpg">
				</div>
				<div class="col-md-10"><em>Asif Khan is an engineer who has succefully completed his graduation with the help of Karwan e Ilm foundation. He has studies hard to make a name for himself.</em></div>
			</div><br>
			<div class="row">
				<div class="col-md-2">
				<img class="img-circle" src="/static/images/story4.jpg">
				</div>
				<div class="col-md-10"><em>Abdullah Rehman secured the top position in both matric and Intermediate by applying his intelligence and working extra-hard. He is a exemplary student and a shining beacon for our youth. Currently he is persuing his masters degree in Bio Technology.</em></div>
			</div>
		</div>
	</div>
	<br>
</div>

<div class="contact" id="section4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center portfolio-text">Contact for Career Counselling</h2>
				<div class="col-md-6 col-sm-12 col-xs-12contact-form">
					<form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control form-effect" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">                                 
                            <input type="email" class="form-control form-effect" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea type="textarea" class="form-control form-effect" id="text" placeholder="Message"></textarea>
                        </div>  
                        <button type="submit" class="btn btn-default btn-sub">Submit</button>
                    </form>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 address-space">
					<div id="map-canvas"></div>
					<div class="address">
						<h3>Address</h3>
						<p><i class="glyphicon glyphicon-map-marker"></i>1234 House Name, City Name, Lahore </p>
						<p><i class="glyphicon glyphicon-earphone"></i>(111) 123-4567 | (111) 123-7654 (FAX)</p>
						<p><i class="glyphicon glyphicon-envelope"></i>Info@example.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}