{% extends "base.html" %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			{% include 'search.html' %}
		</div>
	</div>
</div>
{% if posts[6] %}
<section class="publicaciones-blog-home">
  <div class="container">
    <div class="">
      <h2>Latest  <b>{% if posts[0] %}{{posts[0].post_type}}{% endif %}</b></h2>
      <div class="row-page row">
      	{% if posts[0] %}
        <div class="col-page col-sm-4 col-md-4">
          <a href="{{url_for('article', id=posts[0].id, type=posts[0].post_type, slug=posts[0].slugified_title)}}" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              {% if posts[0].featured_image %}
              <img class="img-responsive" src="{{url_for('static', filename=posts[0].featured_image)}}">
              {% endif %}
            </div>
            <div class="contenido-publicacion-home">
              <h3>{{posts[0].title}}</h3>
              <p>{{posts[0].meta_description}}<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Read More </span>
            </div>
          </a>
        </div>
        {% endif %}
        {% if posts[1] %}
        <div class="col-page col-sm-4 col-md-4">
          <a href="{{url_for('article', id=posts[1].id, type=posts[1].post_type, slug=posts[1].slugified_title)}}" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              {% if posts[1].featured_image %}
              <img class="img-responsive" src="{{url_for('static', filename=posts[1].featured_image)}}">
              {% endif %}
            </div>
            <div class="contenido-publicacion-home">
              <h3>{{posts[1].title}}</h3>
              <p>{{posts[1].meta_description}}<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Read More </span>
            </div>
          </a>
        </div>
        {% endif %}
        {% if posts[2] %}
        <div class="col-page col-sm-4 col-md-4">
          <a href="{{url_for('article', id=posts[2].id, type=posts[2].post_type, slug=posts[2].slugified_title)}}" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              {% if posts[2].featured_image %}
              <img class="img-responsive" src="{{url_for('static', filename=posts[2].featured_image)}}">
              {% endif %}
            </div>
            <div class="contenido-publicacion-home">
              <h3>{{posts[2].title}}</h3>
              <p>{{posts[2].meta_description}}<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Read More </span>
            </div>
          </a>
        </div>
        {% endif %}
        {% if posts[3] %}
        <div class="col-page col-sm-4 col-md-5">
          <a href="{{url_for('article', id=posts[3].id, type=posts[3].post_type, slug=posts[3].slugified_title)}}" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              {% if posts[3].featured_image %}
              <img class="img-responsive" src="{{url_for('static', filename=posts[3].featured_image)}}">
              {% endif %}
            </div>
            <div class="contenido-publicacion-home">
              <h3>{{posts[3].title}}</h3>
              <p>{{posts[3].meta_description}}<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Read More </span>
            </div>
          </a>
        </div>
        {% endif %}
        {% if posts[4] %}
        <div class="col-page col-sm-4 col-md-4">
          <a href="{{url_for('article', id=posts[4].id, type=posts[4].post_type, slug=posts[4].slugified_title)}}" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              {% if posts[4].featured_image %}
              <img class="img-responsive" src="{{url_for('static', filename=posts[4].featured_image)}}">
              {% endif %}
            </div>
            <div class="contenido-publicacion-home">
              <h3>{{posts[4].title}}</h3>
              <p>{{posts[4].meta_description}}<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Read More </span>
            </div>
          </a>
        </div>
        {% endif %}
        {% if posts[5] %}
        <div class="col-page col-sm-4 col-md-3">
          <a href="{{url_for('article', id=posts[5].id, type=posts[5].post_type, slug=posts[5].slugified_title)}}" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              {% if posts[5].featured_image %}
              <img class="img-responsive" src="{{url_for('static', filename=posts[5].featured_image)}}">
              {% endif %}
            </div>
            <div class="contenido-publicacion-home">
              <h3>{{posts[5].title}}</h3>
              <p>{{posts[5].meta_description}}<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Read More </span>
            </div>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
<div class="topmargin container">
	<div class="row">
		<div class="col-md-8">
		{% for post in posts %}
			{% if loop.index >= 7 %}
			<div class="row well">
				<div class="col-md-3">
          {% if post.featured_image %}
					<img src="{{url_for('static', filename=post.featured_image)}}" alt="">
          {% endif %}
				</div>
				<div class="col-md-9">
					<h1 style="margin-top:0px;">{{post.title}}</h1>
					<small>Published: {{post.post_date}}</small>
					<h4>{{post.meta_description}}</h4>
					<a href="{{url_for('article', id=post.id, type=post.post_type, slug=post.slugified_title)}}" class="btn btn-primary pull-right">Read More</a>
				</div>
			</div>
			{% endif %}
		{% endfor %}

    <div id="pagination" class="container">
    {% if posts.has_prev %}<a id="previous" class="pull-left hidden" href="{{ url_for('posts',page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% endif %}
    {% if posts.has_next %}<a id="next" class="pull-right hidden" href="{{ url_for('posts', page=posts.next_num) }}">Older posts &gt;&gt;</a>{% endif %}
    </div>
		</div>
		<div class="col-md-4">
            {% set widgets = widget_maker('posts-list', category=type) %}
            {% for widget in widgets %}
                <div class="widget">
                    <h3 class='widget-header'>{{widget.title}}</h3>
                    <div class="widget-content">{{widget.content|safe}}</div>
                    <div class="widget-footer"></div>
                </div><br>
            {% endfor %}
		</div>
	</div>
</div><br><hr><br>
{% endblock %}