{% extends "base.html" %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			{% include 'search.html' %}
		</div>
	</div>
</div>

<section class="publicaciones-blog-home">
  <div class="container">
    <div class="">
      <h2>Latest  <b>{{posts[0].post_type}}</b></h2>
      <div class="row-page row">
        <div class="col-page col-sm-4 col-md-4">
          <a href="" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
            </div>
            <div class="contenido-publicacion-home">
              <h3>Neque porro quisquam est qui dolorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Lorem </span>
            </div>
          </a>
        </div>
        <div class="col-page col-sm-4 col-md-3">
          <a href=""  class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
            </div>
            <div class="contenido-publicacion-home">
              <h3>Neque porro quisquam est qui dolorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Lorem </span>
            </div>
          </a>
        </div>
        <div class="col-page col-sm-4 col-md-5">
          <a href="" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
            </div>
            <div class="contenido-publicacion-home">
              <h3>Neque porro quisquam est qui dolorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Lorem </span>
            </div>
          </a>
        </div>
        <div class="col-page col-sm-4 col-md-6">
          <a href="" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
            </div>
            <div class="contenido-publicacion-home">
              <h3>Neque porro quisquam est qui dolorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Lorem </span>
            </div>
          </a>
        </div>
        <div class="col-page col-sm-4 col-md-3">
          <a href=""  class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
            </div>
            <div class="contenido-publicacion-home">
              <h3>Neque porro quisquam est qui dolorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Lorem </span>
            </div>
          </a>
        </div>
        <div class="col-page col-sm-4 col-md-3">
          <a href="" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
            </div>
            <div class="contenido-publicacion-home">
              <h3>Neque porro quisquam est qui dolorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Lorem </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="topmargin container">
	<div class="row">
		<div class="col-md-8">
		{% for post in posts %}
			<div class="row well">
				<div class="col-md-3">
					<img src="{{url_for('static', filename=post.featured_image)}}" alt="">
				</div>
				<div class="col-md-9">
					<h1 style="margin-top:0px;">{{post.title}}</h1>
					<small>Published: {{post.post_date}}</small>
					<h4>{{post.meta_description}}</h4>
					<button class="btn btn-primary pull-right">Read More</button>
				</div>
			</div>
		{% endfor %}
		</div>
		<div class="col-md-4 well">

		</div>
	</div>
</div><br><hr><br>
{% endblock %}