{% extends "base.html" %}

{% block title %}Career Karwan - {{university.uni_name}}{% endblock %}

{% block content_class %}bg{% endblock %}

{% block content %}
<div class="topmargin container">
	<div class="row">
		<div class="col-md-8 well">
			<h1>{{university.uni_name}}</h1>
			<ol>
			{% for program in programs %}
				<li class="program_list_item"><a href='{{url_for("program", id=program.id)}}'>{{program.degree}} - {{program.title}}</a>
			{% endfor %}
			</ol>
		</div>
		<div class="col-md-4 well">
			<button class="btn btn-lg btn-block" onclick="window.history.back()">Go Back</button>
			<a href="/universities" class="btn btn-warning btn-lg btn-block">All Universities</a><br>
			<h3>
				<a href="/universities?city={{university.city}}">
					More universities in City: <strong>{{university.city}}</strong>
				</a>
			</h3>
			<hr>
			<h3>
				<a href="/universities?province={{university.province}}">
					More universities in Province: <strong>{{university.province}}</strong>
				</a>
			</h3>
			<hr>
			<h3>
				<a href="/universities?pub_pri={{university.pub_pri}}">
					More universities that are: <strong>{{university.pub_pri}}</strong>
				</a>
			</h3>
			<hr>
		</div>
	</div>
</div><br><hr><br>
{% endblock %}