{% extends "base.html" %}

{% block content_class %}bg{% endblock %}

{% block content %}
<div class="topmargin container">
	<div class="row">
		<div class="col-md-8 well">
			<h1>{{university.uni_name}} <a href="/admin/universities/edit/?url=%2Fadmin%2Funiversities%2F&id={{university.id}}">(edit)</a></h1>
			<ol>
			{% for program in programs %}
				<li class="program_list_item"><a href='{{url_for("program", id=program.id)}}'>{{program.degree}} - {{program.title}}</a> <form method="post" action="/program/{{program.id}}/delete" class="pull-right"><a class="btn btn-primary btn-xs pull-right" href="/admin/programs/edit/?url=%2Fadmin%2Fprograms%2F&id={{program.id}}">Edit</a><button type="submit" class="btn btn-danger btn-xs">Delete</button></form></li><br>
			{% endfor %}
			</ol>
			<form method="post" action="/program/{{university.id}}/add">
				<button class="btn btn-block">Add New Program</button>
			</form>
		</div>
		<div class="col-md-4 well">
			<button class="btn btn-lg btn-block" onclick="window.history.back()">Go Back</button>
			<a href="/universities" class="btn btn-warning btn-lg btn-block">All Universities</a><br>
			<h3>
				<a href="/universities?city={{university.city}}">
					More universities in City: <strong>{{university.city}}</strong>
				</a>
			</h3>
			<hr>
			<h3>
				<a href="/universities?province={{university.province}}">
					More universities in Province: <strong>{{university.province}}</strong>
				</a>
			</h3>
			<hr>
			<h3>
				<a href="/universities?pub_pri={{university.pub_pri}}">
					More universities that are: <strong>{{university.pub_pri}}</strong>
				</a>
			</h3>
			<hr>
		</div>
	</div>
</div><br><hr><br>
{% endblock %}