{% extends "base.html" %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			{% include 'search.html' %}
		</div>
	</div>
</div>
<div class="topmargin container">
	<div class="row">
		<div class="col-md-8">
				<div class="row text-center">
					<small>{{programs|length}}</small> results
				</div>
			{% for p in programs %}
			<div class="well">
				{% set degree = "" %}
				{% if p.degree and p.degree != "NULL" %}
					{% set degree = p.degree %}
				{% endif %}
				<h2><a href="{{url_for('program', id=p.id)}}" title="">{{ degree }} - {{p.title}}</a></h2>
				
				<h3><a href="{{url_for('programs', uni_id=p.university.id)}}" title="">{{p.university}}</a></h3>
				<td>{{p.duration|truncate(10) if p.duration != None}}</td>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-4">
            <br>
            {% set widgets = widget_maker('homepage') %}
            {% for widget in widgets %}
                <div class="widget">
                    <h3 class='widget-header'>{{widget.title}}</h3>
                    <div class="widget-content">{{widget.content|safe}}</div>
                    <div class="widget-footer"></div>
                </div><br>
            {% endfor %}
        </div>

	</div>
</div><br><hr><br>
{% endblock %}