{% extends "base.html" %}


{% block title %}Career Karwan - Universities{% endblock %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			{% include 'search.html' %}
		</div>
	</div>
</div>
<div class="topmargin container">
	<div class="row">
		<div class="col-md-8">
			<div class="row text-center">
				<small>{{universities|length}}</small> results
			</div>
			{% for uni in universities %}
				<div class="well">
					<h2><a href="{{url_for('programs', uni_id=uni.id)}}" title="">{{uni.uni_name}}</a></h2>
					<small>{{uni.pub_pri}} University</small>
					<h4>{{uni.govt}}</h4>
					<h4>Location: {{uni.city}} / {{uni.province}}</h4>
					{% if uni.website is not none %}<a href="http://{{uni.website}}" title="">Link</a>{% endif %}
					<h4>{{uni.campuses}} Capuses</h4>
				</div>
			{% endfor %}
		</div>
		<!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <br>
            {% set widgets = widget_maker('homepage') %}
            {% for widget in widgets %}
                <div class="widget">
                    <h3 class='widget-header'>{{widget.title}}</h3>
                    <div class="widget-content">{{widget.content|safe}}</div>
                    <div class="widget-footer"></div>
                </div><br>
            {% endfor %}
        </div>
	</div>
</div><br><hr><br>
{% endblock %}