{% extends "base.html" %}

{% block content %}
<div class="main hidden" id="page-top">
	<div class="row">
		<div class="col-md-12 some-notes">
			<div class="title">

                <h2>Welcome To Karwan e ilm</h2>
            </div>
            <div class="desc">
                <p>Karwan e ilm is a free resources for students all over Pakistan to seek and get affordable higher education.</p>
            </div>
		</div>
	</div>
</div>

<div class="features" id="section2">
	<div class="container">
		<div class="row">
			{% include 'search.html' %}
		</div>
	</div>
</div>
<div class="topmargin container">
	<div class="row">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>City</th>
					<th>Province</th>
					<th>Public/Private</th>
					<th>Website</th>
					<th>Govt</th>
					<th>Campuses</th>
				</tr>
			</thead>
			<tbody>
				{% for uni in universities %}
				<tr>
					<td><a href="{{url_for('programs', uni_id=uni.id)}}" title="">{{uni.uni_name}}</a></td>
					<td>{{uni.city}}</td>
					<td>{{uni.province}}</td>
					<td>{{uni.pub_pri}}</td>
					<td>
						{% if uni.website is not none %}<a href="http://{{uni.website}}" title="">Link</a>{% endif %}
					</td>
					<td>{{uni.govt}}</td>
					<td>{{uni.campuses}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div><br><hr><br>
{% endblock %}